{% include 'utils/header.html.twig' %}
{% block title %}<title>Accueil &bull; Fignoss 2019</title>{% endblock %}

<body>
    {% include 'utils/menu.html.twig' %}
    <div class="page" id="artistes">
        <div class="container">
            <div class="section-header">
                <hr><h1>Artistes</h1><hr>
            </div>

            <div class="row">
                <div class="col-6">
                    <center><h3>House</h3></center>
                    <div class="thumbnail">
                        <div class="row">
                            <div class="col col-6">
                                <img src="/img/pleine_qualite/artiste1.png" style="width: 100%;"/>
                            </div>

                            <div class="col col-6">
                                <img src="/img/pleine_qualite/artiste2.png" style="width: 100%;"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-12">
                                <img src="/img/pleine_qualite/artiste3.png" style="width: 100%;"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <center><h3>Ice-Bar</h3></center>
                    <div class="thumbnail">
                        <div class="row">
                            <div class="col col-6">
                                <img src="/img/pleine_qualite/artiste4.png" style="width: 100%;"/>
                            </div>

                            <div class="col col-6">
                                <img src="/img/pleine_qualite/artiste5.png" style="width: 100%;"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-12">
                                <img src="/img/pleine_qualite/artiste6.png" style="width: 100%;"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>