{% include 'utils/header.html.twig' %}
{% block title %}<title>Accueil &bull; Fignoss 2019</title>{% endblock %}

<body>
    {% include 'utils/menu.html.twig' %}
    <div class="page" id="gala-section">
        <div class="container">
            <div class="section-header">
                <hr><h1>Artistes</h1><hr>
            </div>

            <img style="width: 100%;" src="/img/compressor/Artistes-image-compressor.png" alt="Artistes 2019" />
        </div>
    </div>
</body>