{% include 'utils/header.html.twig' %}
{% block title %}<title>Accueil &bull; Fignoss 2019</title>{% endblock %}

<body>
    {% include 'utils/menu.html.twig' %}
    <div class="page" id="contact">
        <div class="container">
            <div class="section-header">
                <hr><h1>Contact</h1><hr>
            </div>
            <p>Pour toute demande supplémentaire, veuillez nous contacter par mail:</p>
            <p><strong>contact@fignoss.fr</strong></p>
            <p>Pour toutes demandes spécifiques:</p>

            <div class="row">
                <div class="col-4">
                    <div class="people">
                        <h1>Vincent <strong>Guéna</strong></h1>
                        <p>Responsable Gala<br/>
                        vincent.guena@gadz.org<br/>
                        +33 6 72 65 02 92</p>
                    </div>

                    <div class="people">
                        <h1>Louis <strong>Gawlik</strong></h1>
                        <p>Trésorier<br/>
                        louis.gawlik@gadz.org<br/>
                        +33 6 95 42 98 85</p>
                    </div>

                    <div class="people">
                        <h1>Caroline <strong>Augé Courtoi</strong></h1>
                        <p>Responsable sécurité<br/>
                        caroline.auge_courtoi@gadz.org<br/>
                        +33 6 40 22 03 51</p>
                    </div>
                </div>

                <div class="col-4 img-center">
                    <img style="width: 50%;" src="/img/compressor/fignoss_menu-compressor.png" />
                </div>

                <div class="col-4">
                    <div class="people">
                        <h1>Antonin <strong>Beaufils</strong></h1>
                        <p>Responsable Logistique<br/>
                        antoin.beaufils@gadz.org<br/>
                        +33 6 20 26 19 36</p>
                    </div>

                    <div class="people">
                        <h1>Victor <strong>Masson</strong></h1>
                        <p>Responsable Animation<br/>
                        victor.masson@gadz.org<br/>
                        +33 7 89 50 64 53</p>
                    </div>

                    <div class="people">
                        <h1>Estelle <strong>Betbeder</strong></h1>
                        <p>Communication & Design<br/>
                        estelle.betbeder@gadz.org<br/>
                        +33 6 46 35 78 14</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>