{% include 'utils/header.html.twig' %}
{% block title %}<title>Accueil &bull; Fignoss 2019</title>{% endblock %}

<body>
    {% include 'utils/menu.html.twig' %}
    <div class="page" id="first_home">
        <!-- <img class="background" src="/img/background.png" /> -->
        <div class="main-brand">
            <h1>LA NUIT DES FIGNOSS</h1>
            <h2>GRAND GALA DES ARTS ET METIERS</h2>
        </div>

        <div class="low-brand">
            <h3>23 Novembre 2019</h3>
            <h4>8 Boulevard Louis XIV - Lille</h4>
        </div>
    </div>
</body>