{% include 'utils/header.html.twig' %}
{% block title %}<title>Accueil &bull; Fignoss 2019</title>{% endblock %}

<body>
    {% include 'utils/menu.html.twig' %}
    <div class="page" id="first-home">
        <div class="main-brand">
            <img style="width: 100%;" src="/img/compressor/home_title-compressor.png" alt="La Nuit des Fignoss -- GRAND GALA DES ARTS ET METIERS" />
            <!-- <h1>LA NUIT DES FIGNOSS</h1>
            <h2>GRAND GALA DES ARTS ET METIERS</h2> -->
        </div>

        <div class="low-brand">
            <h3>23 Novembre 2019</h3>
            <h4>8 Boulevard Louis XIV - Lille</h4>
        </div>
    </div>

    <div class="page" id="second-home">
        <div class="main-brand">
            <h2>Découvrez le plus grand gala du Nord,<br/>
                dans son bâtiment classé monument historique,<br/>
                transformé le temps d'une nuit<br/>
                par près de 300 élèves ingénieurs</h2>
        </div>
    </div>

    <div class="page" id="sponsors">
        <div class="section-header">
            <hr><h1>Sponsors</h1><hr>
        </div>

        <p>Ils ont souhaité participer et nous accompagner dans cette aventure... Un grand merci !</p>
        
        <div class="brands">
            <div class="row">
                <div class="col-2">
                    <img src="/img/brands/ADEZIF.png" alt="ADEZIF"/>
                </div>
                <div class="col-2">
                    &nbsp;
                </div>
                <div class="col-2">
                    &nbsp;
                </div>
                <div class="col-2">
                    &nbsp;
                </div>
                <div class="col-2">
                    &nbsp;
                </div>
                <div class="col-2">
                    &nbsp;
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-2">
                    &nbsp;
                </div>
                <div class="col-2">
                    &nbsp;
                </div>
                <div class="col-2">
                    &nbsp;
                </div>
                <div class="col-2">
                    &nbsp;
                </div>
                <div class="col-2">
                    &nbsp;
                </div>
                <div class="col-2">
                    <img src="/img/brands/NRJ.png" alt="NRJ"/>
                </div>
            </div>
        </div>
    </div>
</body>