{% include 'utils/header.html.twig' %}
{% block title %}<title>Accueil &bull; Fignoss 2019</title>{% endblock %}

<body>
    {% include 'utils/menu.html.twig' %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <div class="page" id="gala-section">
        <div class="container">
            <div class="section-header">
                <hr><h1>Le Gala</h1><hr>
            </div>

            <img style="width: 100%;" src="/img/compressor/gala-image.png" alt="Image Gala 2018" />
        </div>
    </div>

    <div class="page">
        <iframe style="width:100%;height: 100%;" src="https://www.youtube.com/embed/qUTBtl6bxh0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="page">
        <div class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#image1" data-slide-to="0" class="active"></li>
            <li data-target="#image2" data-slide-to="1"></li>
            <li data-target="#image3" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="/img/pleine_qualite/slider/artistes.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
            <img src="/img/pleine_qualite/slider/defile.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
            <img src="/img/pleine_qualite/slider/icebar.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#image1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précédent</span>
        </a>
        <a class="carousel-control-next" href="#image2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>
        </div>
    </div>

    <div class="page" id="numbers">
        <div class="container">
            <div class="row">
                <div class="col-4 counter-group">
                    <h1 class="counter"><span class="counterVar" data-count="3500">0</span></h1>
                    <h3>PERSONNES</h3>
                </div>

                <div class="col-4 counter-group">
                    <h1 class="counter"><span class="counterVar" data-count="17">0</span></h1>
                    <h3>AMBIANCES</h3>
                </div>

                <div class="col-4 counter-group">
                    <h1 class="counter"><span class="counterVar" data-count="59">0</span><sup>e</sup></h1>
                    <h3>EDITION</h3>
                </div>
            </div>
        </div>
        <h2 id="droitEntree">L'organisation se réserve le droit d'entrée</h2>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $('.counterVar').each(function() {
                var $this = $(this),
                    countTo = $this.attr('data-count');
                
                $({ countNum: $this.text()}).animate({
                    countNum: countTo
                    },

                    {

                    duration: 2000,
                    easing:'swing',
                    step: function() {
                        $this.text(Math.floor(this.countNum));
                    },
                    complete: function() {
                        $this.text(this.countNum);
                    }

                });  
            });
    </script>
</body>