{% include 'utils/header.html.twig' %}
{% block title %}<title>Accueil &bull; Fignoss 2019</title>{% endblock %}

<body>
    {% include 'utils/menu.html.twig' %}
    <div class="page" id="reservation">
        <div class="container">
            <div class="section-header">
                <hr><h1>Billetterie</h1><hr>
            </div>
            <div class="billetterie">
                <br/>
                <div class="row row-centered"  style="text-align: center;">
                    <div class="col-6">
                        <a href="https://collecte.io/billeterie-nuit-des-fignoss-2018-90795/fr">
                            <hr class="top-hr">
                            <hr class="bot-hr">
                            <img style="width: 100%;" src="/img/compressor/Place-compressor.png" alt="Place" />
                        </a>
                    </div>
                </div>

                <div class="row row-centered" style="text-align: center;">
                    <div class="col-6" />
                        <a href="https://collecte.io/reservation-du-champagne-90618/fr">
                            <hr class="top-hr">
                            <hr class="bot-hr">
                            <img style="width: 100%;" src="/img/compressor/Champ-compressor.png" alt="Champagne" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>