@font-face {
  font-family: "gravity";
  src: url("/fonts/Gravity-Light.otf");
}
@font-face {
  font-family: "salvalyn";
  src: url("/fonts/Salvalyn-Demo.ttf");
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0;
}

.navbar {
  color: red;
  position: absolute;
  font-family: gravity;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar hr {
  position: absolute;
  top: 70px;
  width: 90%;
  margin-left: 5%;
  color: #ecd2b3;
  border: 0.5px solid rgba(236, 210, 179, 0.6);
}

.navbar .left-nav {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 75px;
  margin: 0 10px;
}

.navbar .right-nav {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10px;
}

.navbar .right-nav ul {
  list-style: none;
  margin: 0 0;
}

.navbar .right-nav ul li {
  float: left;
  line-height: 75px;
  margin: 0 20px;
  position: relative;
}

.navbar .right-nav ul li a {
  text-decoration: none;
  font-size: 25px;
  color: #ecd2b3;
  font-weight: normal;
  transition: font-weight 0.2s ease;
}

.navbar .right-nav ul li .slider {
  border-bottom: 2px solid #ecd2b3;
  width: 0%;
  display: block;
  position: absolute;
  bottom: 20%;
  background-color: #ecd2b3;
  transition: width 0.3s ease;
}

.navbar .right-nav ul li:hover .slider {
  width: 100%;
}

.navbar .right-nav ul li:hover a {
  font-weight: bold;
  transition: font-weight 0.2s ease;
}

body, html {
  padding: 0 0;
  margin: 0 0;
}

.page {
  height: 100%;
  position: relative;
  text-align: center;
}

.page .main-brand {
  font-family: salvalyn;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page .main-brand h1 {
  font-size: 75px;
  background: radial-gradient(#e9cfb0, #8a634e);
  background-clip: text;
  color: transparent;
}

.page .main-brand h2 {
  font-size: 50px;
  color: #ecd2b3;
}

.page .low-brand {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 50px;
  font-family: gravity;
}

.page .low-brand h3 {
  font-size: 60px;
  background: radial-gradient(#e9cfb0, #8a634e);
  background-clip: text;
  color: transparent;
}

.page .low-brand h4 {
  font-size: 40px;
  background: radial-gradient(#e9cfb0, #8a634e);
  background-clip: text;
  color: transparent;
}

#first-home {
  background-image: url("/img/home_background_3.png");
  background-size: cover;
}

#second-home {
  background-image: url("/img/home_background_2.png");
  background-size: cover;
}

#second-home .main-brand h2 {
  font-family: gravity;
}

#sponsors {
  background-image: url("/img/home_background_3.png");
  background-size: cover;
  padding-top: 50px;
  position: relative;
}

#sponsors .section-header h1 {
  width: 25%;
  display: inline-block;
  color: #ecd2b3;
  font-size: 80px;
  font-family: salvalyn;
}

#sponsors .section-header hr {
  display: inline-block;
  border: 1px solid #ecd2b3;
  width: 32.5%;
}

#sponsors p {
  font-family: gravity;
  color: #ecd2b3;
  font-size: 40px;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: 5%;
}

#sponsors .brands {
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 90%;
}

#map-section {
  padding-top: 75px;
  background-image: url("/img/home_background_3.png");
}

#map-section #map {
  margin: 5px 0;
  height: 75%;
  width: 80%;
  margin-left: 10%;
}

.row {
  position: relative;
  width: 100%;
  text-align: left;
  min-height: 10%;
}

.row .col-2 {
  width: 15%;
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
