$menu-height: 80px
$menu-items-distance: 3vw
$font-color-1: #ecd2b3
$nav-opacity: 0.4

// Backgrounds
$home-background-1: url("/img/compressor/home_background_3-compressor.png")
$home-background-2: url("/img/compressor/home_background_2-compressor.png")
$home-background-3: url("/img/compressor/background-compressor.png")

@font-face
    font-family: "gravity-light"
    src: url("/fonts/Gravity-UltraLight.otf")

@font-face
    font-family: "gravity-normal"
    src: url("/fonts/Gravity-Light.otf")

@font-face
    font-family: "gravity-bold"
    src: url("/fonts/Gravity-Regular.otf")

@font-face
    font-family: "salvalyn"
    src: url("/fonts/Salvalyn-Demo.ttf")

@mixin centered
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

@mixin circular-gradient($color1, $color2)
    background: radial-gradient($color1, $color2)
    background-clip: text
    -webkit-background-clip: text
    color: transparent

body, html
    height: 100%
    min-height: 100%

h1, h2, h3, h4, h5, h6
    margin: 0 0
    
.navbar
    color: red
    position: absolute
    font-family: gravity-normal
    top: 0
    left: 0
    right: 0
    height: $menu-height
    z-index: 99
    background-color: rgba(0, 0, 0, $nav-opacity)

    hr
        position: absolute
        top: $menu-height - 10px
        width: 90%
        right: 0
        color: #ecd2b3
        border: 0.5px solid rgba(236,210,179, 0.6)
        padding: 0 0

    .left-nav
        position: absolute
        left: 0
        top: 0
        line-height: $menu-height
        margin: 0 10px

        img
            margin: 5px 20px
            height: $menu-height - 10px
    
    .right-nav
        position: absolute
        right: 0
        top: 0
        margin-right: 10px

        ul
            list-style: none
            margin: 0 0

            li
                float: left
                line-height: $menu-height
                margin: 0 $menu-items-distance
                position: relative

                a
                    text-decoration: none
                    font-size: 2vw
                    color: $font-color-1
                    transition: color 0.2s ease

                .slider
                    border-bottom: 2px solid $font-color-1
                    width: 0%
                    display: block
                    position: absolute
                    bottom: 20%
                    background-color: $font-color-1
                    transition: width 0.3s ease

            li:hover
                
                .slider
                    width:100%

                a
                    color: white
                    transition: color 0.2s ease

body, html
    padding: 0 0
    margin: 0 0
    
.page
    height: 100%
    position: relative
    text-align: center
    background-size: cover !important

    .container
        padding-top: $menu-height

    .main-brand
        font-family: salvalyn
        @include centered    

        h1
            font-size: 75px
            @include circular-gradient(#e9cfb0, #8a634e)

        h2
            font-size: 50px
            color: $font-color-1
    
    .low-brand
        position: absolute
        left: 50%
        transform: translate(-50%, 0)
        bottom: 50px
        font-family: gravity-normal

        h3
            font-size: 60px
            @include circular-gradient(#e9cfb0, #8a634e)
        
        h4
            font-size: 40px
            @include circular-gradient(#e9cfb0, #8a634e)

#first-home
    background-image: $home-background-1
    background-size: cover

#second-home
    background-image: $home-background-2
    background-size: cover

    .main-brand
        h2
            font-family: gravity-light

.section-header
    
    h1
        display: inline-block
        color: $font-color-1
        font-size: 4.5vw
        font-family: salvalyn
    
    hr
        display: inline-block
        border: 1px solid $font-color-1
        line-height: 50px

#gala-section
    background-image: $home-background-3
    background-size: cover
    position: relative
    height: auto
    min-height: 100%

    .section-header
        width: 100%
        position: absolute
        top: $menu-height

    .container
        position: relative
        text-align: center

    h1
        width: 30%
    
    hr
        width: 30%
    
#numbers
    background-image: $home-background-3
    background-size: cover
    position: absolute
    width: 100%
    height: auto !important
    min-height: 45% !important

    #droitEntree
        position: absolute
        font-family: gravity-light
        bottom: 5%
        width: 100%
        text-align: center
        color: $font-color-1

#map-section

    background-image: $home-background-3
    background-size: cover
    min-height: 100%
    height: auto

    .section-header
        h1
            width: 65%
        hr
            width: 15%
    
    strong
        font-family: gravity-bold
    p
        color: white
        font-family: gravity-normal
        font-size: 2vw

    #map
        margin: 5px 0
        height: 50%
        width: 80%
        margin-left: 10%

#sponsors

    background-image: $home-background-3
    background-size: cover
    padding-top: 50px
    position: relative

    .section-header
    
        h1
            width: 25%
        hr
            width: 32.5%
    
    p
        font-family: gravity-normal
        color: $font-color-1
        font-size: 40px
        width: 50%
        text-align: center
        margin: 0 auto
        margin-top: 5%

    .brands
        position: absolute
        bottom: 5%
        left: 5%
        width: 90% 

.row
    position: relative
    width: 100%
    text-align: left
    min-height: 10%

    .col-2
        width: 15%
        display: inline-block

    .col-4
        width: 33%
        display: inline-block

.counter-group
    text-align: center
    font-family: gravity-light
    
    .counter
        width: 100% !important
        margin: 0 auto
        color: white
        font-size: 8vw
    
    h3
        font-size: 2vw
        color: $font-color-1

#reservation
    height: 100%
    background-image: $home-background-3
    background-size: cover

    .section-header
        h1
            width: 30%
        
        hr
            width: 30%

    .container
        padding-top: $menu-height
        p
            @include centered
            font-family: gravity-light
            width: 100%
            text-align: center
            color: $font-color-1
            font-size: 4vw

#contact
    background-image: $home-background-3
    background-size: cover
    min-height: 100%
    height: auto

    .section-header
        hr
            width: 30%
        h1
            width: 25%

    .row
        position: relative

    .col-4
        text-align: center
        min-height: 100%
        position: relative

    .people
        font-family: gravity-light
        margin: 40px 0

        strong
            font-family: gravity-bold
        h1
            color: #ba7a6c
        p
            margin: 0 0
            padding: 0 0

    p
        color: white
        font-family: gravity-light
        font-size: 1.75vw

        strong:
            font-family: gravity-bold

#artistes .container
    padding-top: 0

    .section-header
        width: 100%
        position: absolute
        top: $menu-height
        z-index: 99

        h1
            width: 30%

        hr
            width: 30%

#gala-section .container
    padding-top: 0