$menu-height: 50px
$menu-items-distance: 5px
$font-color-1: #ecd2b3

@font-face
    font-family: "gravity"
    src: url("/fonts/Gravity-Light.otf")

@font-face
    font-family: "salvalyn"
    src: url("/fonts/Salvalyn-Demo.ttf")

@mixin centered
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

@mixin circular-gradient($color1, $color2)
    background: radial-gradient($color1, $color2)
    background-clip: text
    color: transparent

h1, h2, h3, h4, h5, h6
    margin: 0 0
    
.navbar
    color: red
    position: absolute
    font-family: gravity
    top: 0
    left: 0
    right: 0
    height: $menu-height

    hr
        position: absolute
        top: $menu-height - 5px
        width: 90%
        margin-left: 5%
        color: #ecd2b3
        border: 0.5px solid rgba(236,210,179, 0.2)

    .left-nav
        position: absolute
        left: 0
        top: 0
        line-height: $menu-height
        margin: 0 10px
    
    .right-nav
        position: absolute
        right: 0
        top: 0
        margin-right: 10px

        ul
            list-style: none
            margin: 0 0

            li
                float: left
                line-height: $menu-height
                margin: 0 $menu-items-distance

                a
                    text-decoration: none
                    font-size: 20px
                    color: #ecd2b3

body, html
    padding: 0 0
    margin: 0 0
    
.page
    height: 100%
    background-image: url("/img/background.png")

#first_home
    height: 100%
    text-align: center

    .main-brand
        font-family: salvalyn
        @include centered       

        h1
            font-size: 75px
            @include circular-gradient(#fff, #333)

        h2
            font-size: 50px
            color: $font-color-1
    
    .low-brand
        position: absolute
        left: 50%
        transform: translate(-50%, 0)
        bottom: 50px
        font-family: gravity

        h3
            font-size: 40px
            @include circular-gradient(#fff, #333)
        
        h4
            font-size: 27px
            @include circular-gradient(#fff, #333)