{% block navbar %}

    <div class="navbar">

        <div class="left-nav">
            <img src="/img/fignoss_menu.png" alt="Logo_Fignoss" />
        </div>

        <div class="right-nav">
            <ul>
                <li><a href="#">Le Gala</a></li>
                <li><a href="#">Réservation</a></li>
                <li><a href="#">Artistes</a></li>
                <li><a href="#">Comment venir ?</a></li>
                <li><a href="#">Se loger</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <hr>

    </div>

{% endblock %}