{% block navbar %}

    <div class="navbar">

        <div class="left-nav">
            <a href="/"><img src="/img/compressor/fignoss_menu-compressor.png" alt="Logo_Fignoss" /></a>
        </div>

        <div class="right-nav">
            <ul>
                <li>
                    <a href="/le-gala/">Le Gala</a>
                    <span class="slider"></span>
                </li>
                <li>
                    <a href="/reservation/">Réservation</a>
                    <span class="slider"></span>
                </li>
                <li>
                    <a href="/artistes/">Artistes</a>
                    <span class="slider"></span>
                </li>
                <li>
                    <a href="/comment-venir/">Comment venir ?</a>
                    <span class="slider"></span>
                </li>
                <!-- <li>
                    <a href="#">Se loger</a>
                    <span class="slider"></span>
                </li> -->
                <li>
                    <a href="/contact/">Contact</a>
                    <span class="slider"></span>
                </li>
            </ul>
        </div>

        <hr>

    </div>

{% endblock %}